.App {
  text-align: center;
  font-family: "Roboto", sans-serif;
  /* background-color: #173b6b; */
}

.App-link {
  color: #61dafb;
}

.sideways {
  writing-mode: vertical-rl;
  text-orientation: mixed;
  margin-top: 2rem;
  font-family: Roboto;
  /* font-style: thin; */
  font-weight: 100;
  font-size: 75px;
  line-height: 112px;
  text-align: start;
  letter-spacing: 1.45em;
  color: #f8ab48;
  text-shadow: 0px 6px 6px rgba(0, 0, 0, 0.25);
  /* transform: rotate(90deg); */
}

.sideways-right {
  writing-mode: vertical-rl;
  text-orientation: mixed;
  margin-top: 3.5rem;
  font-family: Roboto;
  /* font-style: thin; */
  font-weight: 100;
  font-size: 4rem;
  line-height: 112px;
  text-align: start;
  letter-spacing: 1.15em;
  color: #f8ab48;
  text-shadow: 0px 6px 6px rgba(0, 0, 0, 0.25);
  /* transform: rotate(90deg); */
}
.header {
  width: 100%;
  background: #032032;
  height: 40%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.header h1 {
  font-family: "roboto";
  font-weight: 300;
  font-size: 5rem;
  letter-spacing: 0.29em;
  color: #f05237;
}

.header button {
  background: #032032;
  width: 224px;
  height: 50px;
  /* margin-top: 25px; */
  color: #f05237;
  border: #f05237 2px solid;
  box-shadow: 11px 4px 20px 9px rgba(0, 0, 0, 0.25);
  font-size: 1rem;
  border-radius: 10px;
}

.header button:hover {
  /* background: #032032; */
  background: rgb(240, 82, 55);
  color: #032032;
  border: #032032 2px solid;
}
.header img {
  max-width: 10%;
}

.card-container {
  /* background-color: #173b6b; */
  width: 80%;
  margin-right: 2rem;
  margin-left: 8rem;
  margin-top: 4rem;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

.dashboard {
  display: flex;
}

.card-img {
  width: 80%;
  height: auto;
  border-radius: 20px;
}

.card {
  /* background-image: url("./assets/tang-bkgd.png"); */
  background: #032032;
  border: 0;
  color: #f8ab48;
  cursor: pointer;
  padding: 1rem;
  margin: 2rem auto;
  width: 18%;
  height: auto;
  box-shadow: 11px 4px 20px 9px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
}

.card button {
  background: #032032;
  width: 5rem;
  height: 2rem;
  margin-top: 25px;
  color: #f8ab48;
  border: #f8ab48 2px solid;
  box-shadow: 11px 4px 20px 9px rgba(0, 0, 0, 0.25);
  font-size: 1rem;
  border-radius: 10px;
}

.card button:hover {
  /* background: #032032; */
  background: rgb(240, 82, 55);
  color: #032032;
  border: #032032 2px solid;
}
.name-card {
  padding-top: 1rem;
  font-size: 2rem;
  font-family: "roboto";

  color: #f8ab48;
}

.card:hover {
  transform: scale(1.5);
  box-shadow: 11px 4px 20px 9px rgba(0, 0, 0, 0.25);
}

.form-container {
  background: rgba(0, 0, 0, 0.25);
}

.employee_form {
  position: absolute;
  top: 50%;
  left: 50%;
  /* width: 400px; */
  width: 80%;

  padding: 40px;
  transform: translate(-50%, -50%);
  background: #032032;

  box-sizing: border-box;
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.6);
  border-radius: 10px;
}

.employee_form h2 {
  margin: 0 0 30px;
  padding: 0;
  color: #f05237;
  text-align: center;
}
.form-input {
  position: relative;
}

.employee_form .form-input input {
  width: 100%;
  padding: 10px 0;
  font-size: 16px;
  color: #f05237;
  margin-bottom: 30px;
  border: none;
  border-bottom: 1px solid #f05237;
  outline: none;
  background: transparent;
}
.employee_form .form-input label {
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px 0;
  font-size: 16px;
  color: #f05237;
  pointer-events: none;
  transition: 0.5s;
}

.employee_form .form-input input:focus ~ label,
.employee_form .form-input input:valid ~ label {
  top: -20px;
  left: 0;
  color: #03e9f4;
  font-size: 12px;
}
.employee_form form button {
  background-color: #032032;
  border: #032032 1px;
  position: relative;
  display: inline-block;
  padding: 10px 20px;
  color: #f05237;
  font-size: 16px;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
  transition: 0.5s;
  margin-top: 40px;
  letter-spacing: 4px;
}

.employee_form button:hover {
  background: #f9a54b;
  color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 5px #f05237, 0 0 25px #f05237, 0 0 50px #f05237, 0 0 100px #f05237;
}

.employee_form button span {
  position: absolute;
  display: block;
}

.employee_form button span:nth-child(1) {
  top: 0;
  left: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg, transparent, #f05237);
  animation: btn-anim1 1s linear infinite;
}

@keyframes btn-anim1 {
  0% {
    left: -100%;
  }
  50%,
  100% {
    left: 100%;
  }
}

.employee_form button span:nth-child(2) {
  top: -100%;
  right: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(180deg, transparent, #f05237);
  animation: btn-anim2 1s linear infinite;
  animation-delay: 0.25s;
}

@keyframes btn-anim2 {
  0% {
    top: -100%;
  }
  50%,
  100% {
    top: 100%;
  }
}

.employee_form button span:nth-child(3) {
  bottom: 0;
  right: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(270deg, transparent, #f05237);
  animation: btn-anim3 1s linear infinite;
  animation-delay: 0.5s;
}

@keyframes btn-anim3 {
  0% {
    right: -100%;
  }
  50%,
  100% {
    right: 100%;
  }
}

.employee_form button span:nth-child(4) {
  bottom: -100%;
  left: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(360deg, transparent, #f05237);
  animation: btn-anim4 1s linear infinite;
  animation-delay: 0.75s;
}

@keyframes btn-anim4 {
  0% {
    bottom: -100%;
  }
  50%,
  100% {
    bottom: 100%;
  }
}

.profile-page {
  display: flex;
  color: rgb(240, 82, 55);
}

.header_first_name {
  margin-top: 2rem;
  font-family: "roboto";
  font-weight: 100;
  font-size: 4rem;
  letter-spacing: 0.89em;
  color: #f05237;
  text-align: end;
}

.left-side {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 40%;
}

.left-side img {
  max-width: 100%;
  height: auto;
}

.right-side {
  margin-top: 60px;
  display: flex;
  width: 40%;
}

.right-side h4 {
  font-weight: 300;
  font-size: 1.5rem;
}

.edit_button {
  background-color: #032032;
  border: #032032 1px;
  position: relative;
  display: inline-block;
  padding: 10px 20px;
  color: #f05237;
  font-size: 16px;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
  transition: 0.5s;
  margin-top: 40px;
  letter-spacing: 4px;
}

.edit_button:hover {
  background: #f9a54b;
  color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 5px #f05237, 0 0 25px #f05237, 0 0 50px #f05237, 0 0 100px #f05237;
}

/* .edit_button span {
  position: absolute;
  /* display: block; */
/* } */

/* .edit_button span:nth-child(1) {
  top: 0;
  left: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg, transparent, #f05237);
  animation: btn-anim1 1s linear infinite;
} */

/* @keyframes btn-anim1 {
  0% {
    left: -100%;
  }
  50%,
  100% {
    left: 100%;
  }
} */

/* .edit_button span:nth-child(2) {
  top: -100%;
  right: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(180deg, transparent, #f05237);
  animation: btn-anim2 1s linear infinite;
  animation-delay: 0.25s;
} */

/* @keyframes btn-anim2 {
  0% {
    top: -100%;
  }
  50%,
  100% {
    top: 100%;
  }
} */

/* .edit_button span:nth-child(3) {
  bottom: 0;
  right: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(270deg, transparent, #f05237);
  animation: btn-anim3 1s linear infinite;
  animation-delay: 0.5s;
} */

/* @keyframes btn-anim3 {
  0% {
    right: -100%;
  }
  50%,
  100% {
    right: 100%;
  }
} */

/* .edit_button span:nth-child(4) {
  bottom: -100%;
  left: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(360deg, transparent, #f05237);
  animation: btn-anim4 1s linear infinite;
  animation-delay: 0.75s;
} */

/* @keyframes btn-anim4 {
  0% {
    bottom: -100%;
  }
  50%,
  100% {
    bottom: 100%;
  }
}  */
