.App {
  text-align: center;
}

/* .App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
} */

.App-link {
  color: #61dafb;
}

.card-container {
  width:90%;
  margin-right:2rem;
  margin-left:2rem;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

.card{
  background-color: antiquewhite;
   border: 0;
   /* box-shadow: 0 4px 8px 3px ${colors.subtle}; */
   color: navy;
   cursor: pointer;
   padding: 1rem;
   margin: 1rem auto;
   width: 20%;
}
