/* TODO:  
    ~ Forms re-styling
    ~ Profile Page fixes
    */


.App {
  text-align: center;
  /* font-family: "Roboto", sans-serif; */
  background-image: linear-gradient(to left, #0d0b0c, #1e1920, #252736, #21384b, #0f4b5b, #0a4c57, #0c4d52, #124e4d, #153e3e, #162f2f, #142020, #0f1212);
}

/* FIXME: Font too small, and clean up code thats redundant */


/* .error {
  font-size: 30px;
  color: white;
} */


.sideways-title {
  writing-mode: vertical-rl;
  text-orientation: mixed;
  font-family: Roboto;
  font-weight: 200;
  font-size: 10em;
  text-align: start;
  letter-spacing: 1.05em;
  color: #10ece5;
  text-shadow: 0px 10px 6px #10ece56c;
  margin-right: 5%;
}

.header {
  background-color: black;
  padding-top: 3%;
  border-bottom: 15px groove #f8ab48;
  
}

.main-title {
  padding-top: 4%;
  font-family: "roboto";
  font-weight: 300;
  font-size: 4rem;
  letter-spacing: 0.09em;
  color: #f8ab48;
  
}



.header img {
  width: 30%;
}

.card-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}


placeholder {
  text-align: end;
}

.dashboard {
  padding: 5%;
  display: flex;
  flex-wrap: wrap;
  padding-right: 8%;
}

.card-main {
  background-color:black;
  color: #10ece5;
  cursor: pointer;
  height: 22em; 
  padding: 1rem;
 border-bottom: 2px solid #10ece5;
 border-left: 1.5px solid #10ece5bb;
 border-right: 1.5px solid #10ece580;
 border-top: 1px solid #10ece554;
  box-shadow: 9px 13px 9px rgba(0, 0, 0, 0.4);
  border-radius: 20px;
}
.card-columns .card{
  margin-bottom: 3.75rem;
}

.card-main:hover {
  box-shadow: 0 0 45px #f9a54b59, 0 0 45px #10ece55d, 0 0 45px #f9a54b59, 0 0 45px #10ece55d;
}

.card a:hover{
  color:#f8ab48;
}

.card-icons-container {
  display: flex;
  justify-content: space-between;
  margin-top: 1.75em;
}

 .card-icons-circle { 
  background-color: black;
  padding: 15px;
  border-radius: 50%;
  border: 1px solid #10ece5;
  box-shadow: 9px 13px 9px rgba(0, 0, 0, 0.4);
  
}

.card-icons-circle:hover {
  background-color: rgba(0, 0, 0, 0.479);
  border: 2px solid #10ece5;
  transform:translateY(10px);
 
}

.card-img {
 
  margin-bottom: 2.75em;
  border-radius: 20px;
  border: 2px solid #10ece5;
  min-height: 10em;
}


.name-card {
  text-transform: uppercase;
  font-size: 1em;
  letter-spacing: .12em;
  font-family: "roboto";
  font-weight: 300;
  color: #f8ab48; 
}

/* * FORMS */

.form-container {
display: flex;
justify-content: center;
}

.form-header {
  display: flex;
  justify-content: space-between;
}
.form-header h2 {
  font-size: 2.5rem;
  font-weight: 300;
  color: #f8ab48;
  margin-bottom: 2em;
}
.form {
  width: 60%;
  margin-top: 5%;
  margin-bottom: 10%;
  padding: 3%;
  background: black;
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.6);
  border-radius: 10px;
}

label{
  font-size: 1em;
  color:rgba(245, 245, 245, 0.726);
 
  
}

.form input {
  width: 100%;
  padding: 10px 0;
  font-size: 1em;
  color: white;
  margin-bottom: 8%;
  border: none;
  height: 2em;
  background: #03e8f456;
  padding-left: 5%;
}


button  {
  background-color: Black;
  border: #032032 1px;
  position: relative;
  display: inline-block;
  padding: 2% 5%;
  color: #10ece5;
  font-size: 1em;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
  transition: 0.5s;
  margin-top: 3em;
}


button:hover{
  background: #f9a54b;
  border-radius: 5px;
  color: #ffffff;
  box-shadow: 0 0 5px #f05237, 0 0 25px #f05237, 0 0 50px #f05237, 0 0 100px #f05237;
}


button span{
  position: absolute;
  display: block;
}


button span:nth-child(1){
  top: 0;
  left: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg, transparent, #f9a54b);
  animation: btn-anim1 1s linear infinite;
}

@keyframes btn-anim1 {
  0% {
    left: -100%;
  }
  50%,
  100% {
    left: 100%;
  }
}


button span:nth-child(2){
  top: -100%;
  right: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(180deg, transparent, #4be1f9);
  animation: btn-anim2 1s linear infinite;
  animation-delay: 0.25s;
}

@keyframes btn-anim2 {
  0% {
    top: -100%;
  }
  50%,
  100% {
    top: 100%;
  }
}


button span:nth-child(3){
  bottom: 0;
  right: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(270deg, transparent, #f9a54b);
  animation: btn-anim3 1s linear infinite;
  animation-delay: 0.5s;
}

@keyframes btn-anim3 {
  0% {
    right: -100%;
  }
  50%,
  100% {
    right: 100%;
  }
}


button span:nth-child(4) {
  bottom: -100%;
  left: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(360deg, transparent, #4be1f9);
  animation: btn-anim4 1s linear infinite;
  animation-delay: 0.75s;
}

@keyframes btn-anim4 {
  0% {
    bottom: -100%;
  }
  50%,
  100% {
    bottom: 100%;
  }
}

textarea {
  background: #f9a54b;
  border: #03e8f488 3px groove;
  font-family: "roboto";
  font-size: 1em;
  font-weight: 300;
  padding: 1%;
  width: 100%;
}

/* ! PROFILE PAGE */



.header-profile {
  padding-top: 5%;
  border-bottom: 15px groove #f8ac48;
}


.header-profile h1 {
  font-family: "roboto";
  font-weight: 100;
  font-size: 4em;
  text-transform: uppercase;
  letter-spacing: .59em;
  color: #f05237;
  text-align: start;
  margin-left: 25%;
  text-shadow: 0px 10px 6px rgba(0, 0, 0, 0.801); 
}

.sideways-profile-name {
 
  font-size: 5em;
  text-transform: uppercase;
  writing-mode: vertical-rl;
  text-orientation: mixed;
  padding-right: 5%;
  text-align: start;
  letter-spacing: 0.69em;
  color: #f8ab48;
  text-shadow: 0px 10px 6px rgba(0, 0, 0, 0.801);
}

.profile-page .main-content {
  border: 5 px solid red;

  margin-top: 10%;
  margin-left: 10%;
  margin-right: 7%;
  padding-bottom: 20%;
}



.left-side img {
  
  max-width: 80%;
  border-radius: 20px;
  border: 5px ridge #f05237;
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.6);
}


.left-side .first-name {
  text-align:end;
  margin-top: 15%;
  text-transform: uppercase;
  font-weight: 200;
  font-size: 1.45em;
  letter-spacing: 0.19em;
  color: #f8ab48;
  text-shadow: 0px 10px 6px rgba(0, 0, 0, 0.801);
}
.left-side .last-name {
  text-align:start;
  margin-top: 15%;
  text-transform: uppercase;
  font-weight: 200;
  font-size: 1.45em;
  letter-spacing: 0.19em;
  color: #f8ab48;
  text-shadow: 0px 10px 6px rgba(0, 0, 0, 0.801);
}


.information {
  border-radius: 15px;
  padding: 5%;
  background-color: rgb(0, 0, 0);
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.6);
  text-align: left;
 
}

.information .row {
  font-size: 1rem;
  color: #f05237;
}

.information .row h4 {
  font-size: 1.25em;
  font-weight: 300;
}

.information .row  p {
 text-align:end;
  color: #f9a54b;
}

.notes {
  width: 95%;
  border-radius: 15px;
  padding: 5%;
  margin-left: 2%;
  background-color: rgb(0, 0, 0);
  margin-top: 5%;
  text-align: left;
  color: #f9a54b;
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.6);
}

.notes h4 {
  color: #f05237;
  font-weight: 300;
  font-size: 1.5rem;
}


/* !  Buttons */

.home-button,
.close-button {
  color: #10ece5;
  transition: 0.5s;
}

.home-button:hover,
.close-button:hover {
  background: #f9a54b;
  color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 5px #f05237, 0 0 25px #f05237, 0 0 50px #f05237, 0 0 100px #f05237;
}
.home-button {
  vertical-align: -1.125em;
}


/* ! MEDIA QUERIES */

@media (max-width:1400px){
  .header h1 {
    /* padding-top: 18%; */
    font-family: "roboto";
    font-weight: 300;
    font-size: 3.5em;
    letter-spacing: 0.09em;
    color: #f8ab48;
    
  }

}

@media (max-width:1080px){
  .header-profile h1 {
    font-family: "roboto";
    font-weight: 100;
    font-size: 3em;
    text-transform: uppercase;
    letter-spacing: .39em;
    color: #f05237;
    text-align: start;
    margin-left: 22%;
    text-shadow: 0px 10px 6px rgba(0, 0, 0, 0.801); 
  }
  
}

@media (max-width:825px){
  
}

@media (max-width:375px){
  
}


