/* TODO:  
    ~ Forms re-styling
    ~ Profile Page fixes
    */


.App {
  text-align: center;
  font-family: "Roboto", sans-serif;
  background-image: linear-gradient(to left, #0d0b0c, #1e1920, #252736, #21384b, #0f4b5b, #0a4c57, #0c4d52, #124e4d, #153e3e, #162f2f, #142020, #0f1212);
}

/* FIXME: Font too small, and clean up code thats redundant */


/* .error {
  font-size: 30px;
  color: white;
} */
.sideways-title {
  writing-mode: vertical-rl;
  text-orientation: mixed;
  font-family: Roboto;
  font-weight: 200;
  font-size: 155px;
  text-align: start;
  letter-spacing: 1.05em;
  color: #10ece5;
  text-shadow: 0px 10px 6px #10ece56c;
  margin-right: 57px;
}

.header {

  background-color: black;
  align-items: center;
  padding: 2rem;
  border-bottom: 15px groove #f8ab48;
}

.header h1 {
  padding-top: 4%;
  font-family: "roboto";
  font-weight: 300;
  font-size: 6rem;
  letter-spacing: 0.09em;
  color: #f8ab48;
}

.header button {
  width: 200px;
  background-color: black;
  border-radius: 15px;
}


.header img {
  width: 30%;
}

.card-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}


placeholder {
  text-align: end;
}

.dashboard {
  padding: 5%;
  display: flex;
  flex-wrap: wrap;
}

.card-main {
  background-color:black;
  color: #10ece5;
  cursor: pointer;
  height: 315px; 
   padding: 1rem;
 border-bottom: 2px solid #10ece5;
 border-left: 1.5px solid #10ece5bb;
 border-right: 1.5px solid #10ece580;
 border-top: 1px solid #10ece554;
  box-shadow: 9px 13px 9px rgba(0, 0, 0, 0.4);
  border-radius: 20px;
}

.card-main:hover {
  box-shadow: 0 0 45px #f9a54b59, 0 0 45px #10ece55d, 0 0 45px #f9a54b59, 0 0 45px #10ece55d;
}

.card-icons-container {
  display: flex;
  justify-content: space-between;
}

 .card-icons-circle { 
  background-color: black;
  padding: 15px;
  border-radius: 50%;
  border: 1px solid #10ece5;
  box-shadow: 9px 13px 9px rgba(0, 0, 0, 0.4);
  
}

.card-icons-circle:hover {
  background-color: rgba(0, 0, 0, 0.479);
  border: 2px solid #10ece5;
  transform:translateY(10px);
 
  /* box-shadow: 0 0 5px #10ece55e, 0 0 5px #10ece55e, 0 0 25px #10ece55e, 0 0 5px #10ece55e; */
}

.card-img {
 
  margin-bottom: 40px;;
  border-radius: 20px;
  border: 2px solid #10ece5;
  min-height: 160px;
}

/* .card button {
  background-color: #0f1724;
  border: #10ece5 3px;
  position: relative;
  display: inline-block;
  padding: 10px 20px;
  color: #10ece5;
  font-size: 16px;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
  transition: 0.5s;
  margin-top: 40px;
  letter-spacing: 4px;
  border-radius: 5px;
  box-shadow: 0px 4px 3px 2px rgba(0, 0, 0, 0.25), -2px -4px 3px -2px #10ece528;
}

.card button:hover {
  background: #f9a54b;
  color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 5px #f05237, 0 0 25px #f05237, 0 0 50px #f05237, 0 0 100px #f05237;
} */
.name-card {
   display: flex;
  justify-content: space-between; 
  text-transform: uppercase;
  font-size: 1rem;
  font-family: "roboto";
  font-weight: 300;
  color: #f8ab48; 
  margin-bottom: 20px;
}

/* FORMS */

.form-container {
  
  display: flex;
justify-content: center;
}

.form-header {
  display: flex;
  justify-content: space-between;
}
.form-header h2 {
  font-size: 2.5rem;
  font-weight: 300;
  color: #f8ab48;
  margin-bottom: 3rem;
}
.employee-form {
  width: 60%;
  
  margin-top: 150px;
  margin-bottom: 150px;
  padding: 40px;
  /* background: #032032; */
  background: black;
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.6);
  border-radius: 10px;
}

label{
  /* padding: 10px 0; */
  font-size: 16px;
  color:whitesmoke;
 
  
}

/* .form-input {
  position: relative;
} */

.employee-form input {
  width: 100%;
  padding: 10px 0;
  font-size: 1rem;
  color: white;
  margin-bottom: 30px;
  border: none;
  height: 30px;
  /* border: 2px dashed #03e9f4; */
  /* outline: none; */
  background: #03e8f456;
}
/* .employee-form .form-input label {
  /* position: absolute; */
  /* top: 0; */
  /* left: 0; */
  /* padding: 10px 0; */
  /* font-size: 16px; */
  /* color: white; */
  /* pointer-events: none; */
  /* transition: 0.5s; */
/* }  */

/* .employee-form .form-input input:focus ~ label,
.employee-form .form-input input:valid ~ label {
  top: -20px;
  left: 0;
  color: #03e9f4;
  font-size: 12px;
} */
.add-employee-button,
.employee-form form button, .edit-button  {
  background-color: #032032;
  border: #032032 1px;
  position: relative;
  display: inline-block;
  padding: 10px 20px;
  color: #10ece5;
  font-size: 16px;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
  transition: 0.5s;
  margin-top: 40px;
  letter-spacing: 4px;
}

.add-employee-button:hover,
.employee-form button:hover,
.edit-button button:hover {
  background: #f9a54b;
  border-radius: 5px;
  color: #ffffff;
  box-shadow: 0 0 5px #f05237, 0 0 25px #f05237, 0 0 50px #f05237, 0 0 100px #f05237;
}

.add-employee-button span,
.employee-form button span,
.edit-button button span {
  position: absolute;
  display: block;
}

.add-employee-button span:nth-child(1),
.employee-form button span:nth-child(1),
.edit-button button span:nth-child(1) {
  top: 0;
  left: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg, transparent, #f9a54b);
  animation: btn-anim1 1s linear infinite;
}

@keyframes btn-anim1 {
  0% {
    left: -100%;
  }
  50%,
  100% {
    left: 100%;
  }
}

.add-employee-button span:nth-child(2),
.employee-form button span:nth-child(2),
.edit-button button span:nth-child(2) {
  top: -100%;
  right: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(180deg, transparent, #4be1f9);
  animation: btn-anim2 1s linear infinite;
  animation-delay: 0.25s;
}

@keyframes btn-anim2 {
  0% {
    top: -100%;
  }
  50%,
  100% {
    top: 100%;
  }
}

.add-employee-button span:nth-child(3),
.employee-form button span:nth-child(3),
.edit-button button span:nth-child(3) {
  bottom: 0;
  right: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(270deg, transparent, #f9a54b);
  animation: btn-anim3 1s linear infinite;
  animation-delay: 0.5s;
}

@keyframes btn-anim3 {
  0% {
    right: -100%;
  }
  50%,
  100% {
    right: 100%;
  }
}

.add-employee-button span:nth-child(4),
.employee-form button span:nth-child(4),
.edit-button button span:nth-child(4) {
  bottom: -100%;
  left: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(360deg, transparent, #4be1f9);
  animation: btn-anim4 1s linear infinite;
  animation-delay: 0.75s;
}

@keyframes btn-anim4 {
  0% {
    bottom: -100%;
  }
  50%,
  100% {
    bottom: 100%;
  }
}

textarea {
  background: #f9a54b;
  outline: none;
  border: #04304c 3px dashed;
  font-family: "roboto";
  font-size: 1.5rem;
  font-weight: 300;
  padding: 1%;
}

/* PROFILE PAGE */

.profile-page {
  /* padding: 5%; */
  /* width: 100%; */
  /* margin: 0 auto; */
  color: rgb(240, 82, 55);
}

.header-profile {
  padding-top: 80px;
  /* padding: 60px; */
  display: flex;
  /* margin-top: 40px; 
  margin-bottom: 10rem; */
  justify-content: space-around; 
   /* width: 100%;  */
}

.header-profile h1 {
  font-family: "roboto";
  font-weight: 100;
  font-size: 4rem;
  text-transform: uppercase;
  letter-spacing: .89em;
  color: #f05237;
  text-align: start;
  margin-left: 160px;
}

.sideways-profile-name {
  /* background-color: #032032; */
  /* font-family: Roboto; */
  /* font-weight: 100; */
  font-size: 5rem;
  text-transform: uppercase;
  writing-mode: vertical-rl;
  text-orientation: mixed;
  /* margin-left: 2rem; */
  padding-right: 80px;
  padding-top: 10px;
  
  text-align: start;
  letter-spacing: 0.89em;
  color: #f8ab48;
  text-shadow: 0px 6px 6px rgba(0, 0, 0, 0.25);
  /* height: 20%; */
}

.main-content {
  padding-top: 30px;
  /* background-color: #89688a; */
  margin-left: 140px;
  margin-right: 10px;
  padding-bottom: 220px;
  /* display: flex; */
  /* width: 100%; */
  /* justify-content: center; */
}

/* .left-side {
  
  background-color: #000000;
  border-radius: 15px;
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.6); */
  /* display: block; */
  /* padding: 2rem; */
  /* width: 40%; */
/* } */

.left-side img {
  margin-top: 60px;
  max-width: 60%;
  /* margin-bottom: 15px; */
  /* height: auto; */
  border-radius: 20px;
  border: 5px ridge #f05237;
  /* margin-top: -30px; */
}
.left-side h4 {
  margin-top: 45px;
  /* background-color: #032032; */
  text-transform: uppercase;
  font-weight: 200;
  font-size: 1rem;
  letter-spacing: 0.29em;
  color: #f8ab48;
  text-shadow: 0px 10px 6px rgba(0, 0, 0, 0.801);
}

.right-side {
  /* background-color: #886eb1; */
  /* padding: 1%; */
  display: flex;
  flex-direction: column;
  /* width: 30%; */
  /* margin-left: auto; */
}

.information {
  border-radius: 15px;
  padding-left: 25px;
  padding-right: 25px;
  background-color: rgb(0, 0, 0);
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.6);
  /* width: 80%; */
  /* display: flex; */
  /* flex-direction: column; */
  /* justify-content: center; */
}

.information div {
  
  /* padding-top: 3.5%; */
  font-weight: 100;
  font-size: 1rem;
  color: #f05237;
  margin: 2% 0;
  display: flex;
  justify-content: space-between;
  border-bottom: #04304c 3px dashed;
}

.information h4 {
  font-weight: 300;
}

.notes {
  border-radius: 15px;
  padding-left: 25px;
  padding-right: 25px;
  padding-bottom: 40px;
  background-color: rgb(0, 0, 0);
  margin-top: 2.5rem;
  /* padding: 1%; */
  /* width: 100%; */
  text-align: left;
  color: #f9a54b;
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.6);
}

.notes h4 {
  padding-top: 30px;
  
  font-weight: 300;
  font-size: 1.5rem;
}

.edit-button {
  border-radius: 5px;
  background-color: #000000;
  border: #f05237 solid 1px;
  position: relative;
  display: inline-block;
  padding: 10px 20px;
  color: #10ece5;
  font-size: 16px;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
  transition: 0.5s;
  margin-top: 40px;
  letter-spacing: 4px;
  box-shadow: 6px 5px 20px 7px rgba(0, 0, 0, 0.25);
}

/* .edit-button:hover {
  background: #f9a54b;
  color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 5px #f05237, 0 0 25px #f05237, 0 0 50px #f05237, 0 0 100px #f05237;
} */

/* Misc Buttons */

.home-button,
.close-button {
  /* border: #032032 solid 3px; */
  color: #10ece5;
  transition: 0.5s;
}

.home-button:hover,
.close-button:hover {
  background: #f9a54b;
  color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 5px #f05237, 0 0 25px #f05237, 0 0 50px #f05237, 0 0 100px #f05237;
}
